<footer class="section-p1"> 
    <div class="col">
      <img class="logo" src="assets/images/logo.png" alt="">
      <h4>Contact</h4>
      <p> <strong> Address:</strong> 7 Rue El Birouni Megrine Saint Gobaint, Tunis, Tunisia</p>
      <p> <strong>Phone:</strong> (+216)79 297 678 / (+216)79 297 688</p>
      <p> <strong>Mobile:</strong> (+216)29 586 148 / (+216)29 586 281</p>
      <p> <strong>Hours:</strong> 8:00 - 16:00, Mon - Sat</p>
  
        <div class="follow">
        <h4>Follow us</h4>
            <div class="icon">
      <i class="fab fa-facebook-f" onclick="window.location.href='https://www.facebook.com/ARTEXLTDTN/';"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-pinterest-p"></i>
            </div>
  
      </div>
    </div>
  
      <div class="col">
      <h4>About</h4>
      <a href="about.html">About Us</a>
      <a href="contact.html">Contact Us</a>
      </div>
  
    <!--  <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
      </div> !--> 
  
      <div class="col install"> 
      <h4>Install App</h4>
      <p>From App Store or Google Play</p>
      <div class="row">
        <img src="assets/images/astore.png" alt="">
        <img src="assets/images/gstore.png" alt="">
      </div>
      
      <p>Secured Payment Getways</p>
      <img src="assets/images/pay1.png" alt="">
       
      </div>
  
      <div class="copyright">
      <p>© 2022 ARTEX</p>
      </div>
  
      </footer>
