<section id="hero" class="tracking-in-contract">
    <h4>Best Quality</h4>
    <h2>Wholesale Textiles</h2>
    <h1>Home & Clothing Fabrics</h1>
    <p>New fabrics arrivals each month!</p>
    <a href="shop.html"><button class="vibrate-1">Shop Now</button></a>
    
  </section>

  <section>

  <!--</section id="feature">
  <div class="fe-box">
    <img src="assets/"
  </div> !-->
  <section id="product1" class="section-p1"> 
  <h2 class="roll-in-blurred-left">PRINTED POLYCOTON</h2>
  <p>New trending collection</p>
  <div class="pro-container">
    <div class="pro" onclick="window.location.href='pc-d263v1.html';" >
       <img src="assets/images/d263v1.jpg" alt="">
     <div class="des">
     <span>POLYCOTON</span>
     <h5>Width 2.40m</h5>
     <div class="star">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
     </div>
     <h4>D263 V1</h4>
     </div>
     <a href="#"><i class="fal fa-shopping-cart cart "></i></a>
    </div>
    <div class="pro" onclick="window.location.href='pc-d263v2.html';" >
      <img src="assets/images/d263v2.jpg" alt="">
    <div class="des">
    <span>POLYCOTON</span>
    <h5>Width 2.40m</h5>
    <div class="star">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <h4>D263 V2</h4>
    </div>
    <a href="#"><i class="fal fa-shopping-cart cart "></i></a>
   </div>
   <div class="pro" onclick="window.location.href='pc-d264v1.html';" >
    <img src="assets/images/d264v1.jpg" alt="">
  <div class="des">
  <span>POLYCOTON</span>
  <h5>Width 2.40m</h5>
  <div class="star">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
  </div>
  <h4>D264 V1</h4>
  </div>
  <a href="#"><i class="fal fa-shopping-cart cart "></i></a>
 </div>
 <div class="pro" onclick="window.location.href='pc-d264v2.html';" >
  <img src="assets/images/d264v2.jpg" alt="">
<div class="des">
<span>POLYCOTON</span>
<h5>Width 2.40m</h5>
<div class="star">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
</div>
<h4>D264 V2</h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart "></i></a>
</div>
<div class="pro" onclick="window.location.href='pc-d265v1.html';" >
  <img src="assets/images/d265v1.jpg" alt="">
<div class="des">
<span>POLYCOTON</span>
<h5>Width 2.40m</h5>
<div class="star">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
</div>
<h4>D265 V1</h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart "></i></a>
</div>
<div class="pro" onclick="window.location.href='pc-d265v2.html';" >
  <img src="assets/images/d265v2.jpg" alt="">
<div class="des">
<span>POLYCOTON</span>
<h5>Width 2.40m</h5>
<div class="star">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
</div>
<h4>D265 V2</h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart "></i></a>
</div>
<div class="pro" onclick="window.location.href='pc-d265v3.html';" >
  <img src="assets/images/d265v3.jpg" alt="">
<div class="des">
<span>POLYCOTON</span>
<h5>Width 2.40m</h5>
<div class="star">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
</div>
<h4>D265 V3</h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart "></i></a>
</div>
<div class="pro" onclick="window.location.href='pc-d268v1.html';" >
  <img src="assets/images/d268v1.jpg" alt="">
<div class="des">
<span>POLYCOTON</span>
<h5>Width 2.40m</h5>
<div class="star">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
</div>
<h4>D268 V1</h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart "></i></a>
</div>
  </div>
  </section>

  <section id="banner" class="section-m1"> 
    <h4>New offers</h4>
    <h2> UP TO <span>70% OFF</span> - FABRIC STOCKS AND MORE! </h2>
    <button class="normal">Explore more</button>
     </section>

     <section id="product1" class="section-p1"> 
      <h2>PRINTED COTON</h2>
      <p>New Arrivals</p>
      <div class="pro-container">
        <div class="pro" onclick="window.location.href='c-d128v1.html';" >
           <img src="assets/images/D128V1.jpg" alt="">
         <div class="des">
         <span>COTON</span>
         <h5>Width 2.40m</h5>
         <div class="star">
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
         </div>
         <h4>D128 V1</h4>
         </div>
         <a href="#"><i class="fal fa-shopping-cart cart "></i></a>
        </div>
        <div class="pro" onclick="window.location.href='c-d128v2.html';" >
          <img src="assets/images/D128V2.jpg" alt="">
        <div class="des">
        <span>COTON</span>
        <h5>Width 2.40m</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>D128 V2</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart "></i></a>
       </div>
       <div class="pro" onclick="window.location.href='c-d132.html';" >
        <img src="assets/images/D132.jpg" alt="">
      <div class="des">
      <span>COTON</span>
      <h5>Width 2.40m</h5>
      <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <h4>D132 V1</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart "></i></a>
     </div>
     <div class="pro" onclick="window.location.href='c-d137v1.html';" >
      <img src="assets/images/D137V1.jpg" alt="">
    <div class="des">
    <span>COTON</span>
    <h5>Width 2.40m</h5>
    <div class="star">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <h4>D137 V1</h4>
    </div>
    <a href="#"><i class="fal fa-shopping-cart cart "></i></a>
    </div>
    <div class="pro" onclick="window.location.href='c-d137v2.html';" >
      <img src="assets/images/D137V2.jpg" alt="">
    <div class="des">
    <span>COTON</span>
    <h5>Width 2.40m</h5>
    <div class="star">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <h4>D137 V2</h4>
    </div>
    <a href="#"><i class="fal fa-shopping-cart cart "></i></a>
    </div>
    <div class="pro" onclick="window.location.href='c-d151v1.html';" >
      <img src="assets/images/D151V1.jpg" alt="">
    <div class="des">
    <span>COTON</span>
    <h5>Width 2.40m</h5>
    <div class="star">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <h4>D151 V1</h4>
    </div>
    <a href="#"><i class="fal fa-shopping-cart cart "></i></a>
    </div>
    <div class="pro" onclick="window.location.href='c-d151v2.html';" >
      <img src="assets/images/D151V2.jpg" alt="">
    <div class="des">
    <span>COTON</span>
    <h5>Width 2.40m</h5>
    <div class="star">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <h4>D151 V2</h4>
    </div>
    <a href="#"><i class="fal fa-shopping-cart cart "></i></a>
    </div>
    <div class="pro" onclick="window.location.href='c-d151v3.html';" >
      <img src="assets/images/D151V3.jpg" alt="">
    <div class="des">
    <span>COTON</span>
    <h5>Width 2.40m</h5>
    <div class="star">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <h4>D151 V3</h4>
    </div>
    <a href="#"><i class="fal fa-shopping-cart cart "></i></a>
    </div>
      </div>
      </section>

  <section id="sm-banner" class="section-p1">
    <div class="banner-box" onclick="window.location.href='FROISSE.html';" >
    <h4>Trending Crepes</h4>
    <h2>Find your Best Crepe fabric</h2>
    <span>Best Colors Choices</span>
    <button class="white">See More</button>
  </div>
  <div class="banner-box banner-box2"onclick="window.location.href='FIB.html';" >
    <h4>Trending Summer Rayon</h4>
    <h2>More Than 25 Designs</h2>
    <span>Summer 2022 Models</span>
    <button class="white">Collection</button>
  </div>
  </section>

  <section id="banner3">
    <div  class="banner-box" onclick="window.location.href='tringle-f.html';">
    <h2>CURTAIN RODS</h2>
    <h3>Bring style to your home</h3>
    <button class="white">See More</button>
    
    
  </div>

    <div class="banner-box banner-box2" onclick="window.location.href='store.html';">
    
    <h2>CURTAIN BLINDS</h2>
    <h3>Ease and comfort</h3>
    <button class="white">See More</button>
    
  </div>
  <div class="banner-box banner-box3" onclick="window.location.href='r-JACQUARD.html';">
    
    <h2>Curtains</h2>
    <h3>Choose yours today</h3>
    <button class="white">See More</button>
    
  </div>
  </section>

  <section id="newsletter" class="section-p1 section-m1" >
    <div class="newstext">
      <h4>Send Us Your Contact Information</h4>
      <p>Get updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div>
      <button  class="normalw" onclick="window.location.href='https://api.whatsapp.com/send?phone=21629586148&text='">SEND HERE<i class="fa fa-whatsapp"></i></button>
    </div>

  </section>

