<div class="container">
    <table class="table margin-top">
       <tr>
       <th>User name</th>
       <th>QUANTITY</th>
       <th>DATE</th>
       <th>Stat</th>
       <th>ACTION</th>
   
       </tr>
       <tr *ngFor=" let order of orders">
          
          <td></td>
          <td></td>
          <td><span></span></td>
          <td>
           <!-- <button class="btn btn-danger mr-2" (click)="">Delete</button> -->
           <!-- <button class="btn btn-success mr-2" (click)="">View details</button> -->
          </td>
          
       </tr>
       </table>
 </div>